img{
  width: 35px;
}

.table{
  width: 90%;
  table-layout: fixed;
  margin: 0 auto;
  background-color: white;
}

.title_Part{
  padding-bottom: 5px;
  text-align: center;
}

td.left{
  vertical-align: middle;
}
