# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
.angular/cache/angular-webpack/f1edb85d68bd255b64f8480029efa9e271c553ca/1.pack
.angular/cache/angular-webpack/f1edb85d68bd255b64f8480029efa9e271c553ca/12.pack
.angular/cache/angular-webpack/f1edb85d68bd255b64f8480029efa9e271c553ca/2.pack
.angular/cache/angular-webpack/f1edb85d68bd255b64f8480029efa9e271c553ca/0.pack
.angular/cache/angular-webpack/f1edb85d68bd255b64f8480029efa9e271c553ca/3.pack
.angular/cache/angular-webpack/f1edb85d68bd255b64f8480029efa9e271c553ca/4.pack
.angular/cache/angular-webpack/f1edb85d68bd255b64f8480029efa9e271c553ca/5.pack
.angular/cache/angular-webpack/f1edb85d68bd255b64f8480029efa9e271c553ca/6.pack
.angular/cache/angular-webpack/f1edb85d68bd255b64f8480029efa9e271c553ca/7.pack
.angular/cache/angular-webpack/f1edb85d68bd255b64f8480029efa9e271c553ca/8.pack
.angular/cache/angular-webpack/f1edb85d68bd255b64f8480029efa9e271c553ca/9.pack
.angular/cache/angular-webpack/f1edb85d68bd255b64f8480029efa9e271c553ca/index.pack
.angular/cache/angular-webpack/f1edb85d68bd255b64f8480029efa9e271c553ca/index.pack.old
.angular/cache/babel-webpack/116983ae1ebc40dd999ef46024e3c6a9.json
.angular/cache/babel-webpack/15445fac6b4bb9d95111d1834157d210.json
.angular/cache/babel-webpack/216a419b470295d893f80a890edbb748.json
.angular/cache/babel-webpack/438ddc38bfa9efee6447f40040111278.json
.angular/cache/babel-webpack/7863e489457b432c7e17b4b869f62625.json
.angular/cache/babel-webpack/b40828f66a39519278419b1868641670.json
.angular/cache/babel-webpack/c0825994b00c9bd96c6cca688e251182.json
