.startMeetingButton{

}

.containerGlobal{
  width: 900px;
  grid-template-columns: 120px 120px 120px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-right: 1cm;
  position: relative;
  left: 40px;
  align-items:flex-end;
}

.containerButtons {
  grid-template-columns: 120px 120px 120px;
  align-items:center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#logoMicro{
  height: 25px;
}

.centered {
  display: flex;
  justify-content: center;
}
