.startMeetingButton {
  width: 300px;
  height: 75px;
  background: #f8f9fa;
  border: 2px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: medium;
}
