.startMeetingButton{

}

.containerGlobal{
  width: 900px;
  grid-template-columns: 120px 120px 120px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-right: 1cm;
  position: relative;
  left: 40px;
  align-items:flex-end;
}

.containerButtons {
  width: 350px;
  grid-template-columns: 120px 120px 120px;
  align-items:flex-end;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.containerSpeaker{

  display: flex;
  flex-direction: row;
  margin-left: 250px;
  align-items:flex-start;

}

#logoMicro{
  height: 25px;
}
