<p>
  Daily meeting from
</p>

<div>
  Liste des participants
</div>


<table>
  <tbody>
  <tr *ngFor="let AppUserMeeting of appUsersMeetingList" >
    <td>{{AppUserMeeting.name}}</td>
    <td> <img *ngIf="AppUserMeeting.isParticipant==true " src="assets/tick.jpg">
         <img (click)="participate(AppUserMeeting)" *ngIf="AppUserMeeting.isParticipant==false " src="assets/emptyTick.jpg"></td>
    <td *ngIf="AppUserMeeting.isSpeaking==true"><img src="assets/micro.jpg"></td>
    <td *ngIf="AppUserMeeting.isTimeKeeper==true"><img src="assets/timekeeper.jpg"></td>
  </tr>
  </tbody>
</table>

