<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container col-3 mb-5">
  <div class="text-center rounded border bg-light">
    <h6>Daily meeting from {{usersListService.dateMeeting}}</h6>
  </div>
</div>
<div class="ml-5">
  <div class="container col-3 float-left">
    <div class="mb-3 text-center">
      Liste des participants
    </div>
    <div class="table-responsive">
      <table class="table rounded border" *ngIf="usersListService.appUsersMeetingList.length>0">
        <thead>
        <tr>
          <th></th>
          <th><img src="../../assets/tick.jpg"></th>
          <th><img src="../../assets/micro.jpg"></th>
          <th><img src="../../assets/timekeeper.jpg"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let AppUserMeeting of usersListService.appUsersMeetingList">
          <td>{{AppUserMeeting.name}}</td>
          <td><img (click)="unParticipate(AppUserMeeting)" *ngIf="AppUserMeeting.isParticipant==true "
                   src="../../assets/tick.jpg">
            <img (click)="participate(AppUserMeeting)" *ngIf="AppUserMeeting.isParticipant==false "
                 src="../../assets/emptyTick.jpg"></td>
          <td *ngIf="AppUserMeeting.isSpeaking==0"><img src="../../assets/micro.jpg"></td>
          <td *ngIf="AppUserMeeting.isSpeaking!=0" class="text-center align-middle">{{AppUserMeeting.isSpeaking}}"</td>
          <td><img src="../../assets/timekeeper.jpg" *ngIf="AppUserMeeting.timeKeeper==true">
            <img (click)="timeKeeper(AppUserMeeting)" src="../../assets/emptyTick.jpg"
                 *ngIf="AppUserMeeting.timeKeeper==false"></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
