
/* Chrome */
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  width: 15px;
  -webkit-appearance:none;
  margin:0;

}
input{
  width:40px;
}

form{
  width: 300px;
  height: 110px;
  border: 2px solid #000000;
  background: #f8f9fa;;
  display: block;
  margin-right: 360px;
  margin-left: 625px;
  padding: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

