<div *ngIf="this.usersListService.setupDuration==true">
<p  >


  <form >
    <tr>Individual speaking time  </tr>

  <input (keyup)="this.usersListService.totalTiming(minutes.valueAsNumber,seconds.valueAsNumber)" type="number" #minutes [defaultValue]="0" >
    minutes
  <input (keyup)="this.usersListService.totalTiming(minutes.valueAsNumber,seconds.valueAsNumber)" type="number" #seconds [defaultValue]="0">
  seconds
  <div id = totalMeetingDuration>
    Total meeting duration <time></time>
    <p>{{this.usersListService.minutesToDisplay}} minutes {{this.usersListService.secondsToDisplay}} seconds</p>
    <p></p>
  </div>
  </form>
   `




</div>
