<div *ngIf="this.usersListService.setupDuration==true">
<p  >


  <form >
    <tr>Individual speaking time  </tr>

  <input (keyup)="this.usersListService.totalMinute($event);handleChange($event)" type="number" #minutes [defaultValue]="0"  >
    minutes
  <input (keyup)="this.usersListService.totalSeconds($event)" type="number" #seconds [defaultValue]="0">
  seconds
  <div id = totalMeetingDuration>
    Total meeting duration <time></time>
    <p>{{this.usersListService.minutes}} minutes {{this.usersListService.seconds}} seconds</p>
    <p></p>
  </div>
  </form>
   `




</div>
